.avarage-list {

    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;

    &__section {

        &-input {
            max-width: 50px;
            width: 100%;
            text-align: center;
        }

        &-text {
            max-width: 50px;
            width: 100%;
            margin: 0 auto;
        }
    }

    &__button {
        position: relative;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}


.plus-time {

    &__hour {
        display: flex;
        justify-content: center;
    }

    &__minutes {
        display: flex;
        justify-content: center;
    }

    &__seconds {
        display: flex;
        justify-content: center;
    }
}

.time-unswer {
    display: flex;
    justify-content: center;
}